---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import RentForm from '../components/RentForm.astro';
import Brands from '../components/Brands.astro';
import RiaEoRibadeo from '../components/RiaEoRibadeo.astro';
import House from '../components/House.astro';
import Reviews from '../components/Reviews.astro';
import OtherPlaces from '../components/OtherPlaces.astro';
import LastNews from '../components/LastNews.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Casas das Figueiras">
  <header class="relative">
    <Header />
  </header>

  <section class="pt-10 w-full">
    <RentForm />
  </section>

  <section class="pb-20">
    <Brands />
  </section>

  <section class="pt-10">
    <RiaEoRibadeo />
  </section>

  <section class="pt-32">
    <House />
  </section>

  <section class="pt-12">
    <Reviews />
  </section>

  <section class="pt-12">
    <OtherPlaces />
  </section>

  <section class="pt-12">
    <LastNews />
  </section>

  <footer class="pt-12">
    <Footer />
  </footer>
</Layout>
