---
import Layout from "../layouts/Layout.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import RentForm from "../components/RentForm.astro";
import CarouselHome from "../components/CarouselHome.astro";
import Brands from "../components/Brands.astro";
import RiaEoRibadeo from "../components/RiaEoRibadeo.astro";
import House from "../components/House.astro";
import Reviews from "../components/Reviews.astro";
import OtherPlaces from "../components/OtherPlaces.astro";
import LastNews from "../components/LastNews.astro";
import Footer from "../components/Footer.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout
  title="Casas das Figueiras"
  meta="Alquiler casas vacacionales en Ribadeo, cerca de la playa, disfruta de la gastronomía de Asturias y Galicia."
>
  <div class="block w-full">
    <CarouselHome />
  </div>

  <section class="pt-10 w-full">
    <RentForm />
  </section>

  <section class="pb-20">
    <Brands />
  </section>

  <section class="pt-10">
    <RiaEoRibadeo />
  </section>

  <section class="pt-32">
    <House />
  </section>

  <section class="pt-12">
    <Reviews />
  </section>

  <section class="pt-12">
    <OtherPlaces />
  </section>

  <section class="pt-12">
    <LastNews />
  </section>

  <footer class="pt-12">
    <Footer />
  </footer>
</Layout>

<script>
  // Core de Swiper y estilos
  import Swiper from "swiper";
  import "swiper/css";
  // Módulo Navigation de Swiper y estilos
  import { Navigation } from "swiper/modules";
  import { Autoplay } from "swiper/modules";
  import "swiper/css/navigation";
</script>
