---
import { paymentMethods } from "../data/paymethods";
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "../i18n/utils";
import { languages } from "../i18n/ui";
import type { NavBarItems } from "../data/types";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatedPath = useTranslatedPath(lang);
const navBarItems: NavBarItems[] = [
  {
    route: "",
    title: t("nav.home"),
  },
  {
    route: "jovellanos",
    title: t("nav.jovellanos"),
  },
  {
    route: "alameda23",
    title: t("nav.alameda23"),
  },
  {
    route: "alameda33",
    title: t("nav.alameda33"),
  },
  {
    route: "avisolegal",
    title: t("avisolegal"),
  },
  {
    route: "contacto",
    title: t("nav.contact"),
  },
];
---

<div
  class="text-[11px] flex flex-col gap-4 justify-center items-center text-gray-500"
>
  <hr class="border w-screen md:w-[74rem] bg-slate-400" />

  <ul class="flex flex-wrap gap-4 items-center justify-center lg:pl-32">
    {
      navBarItems.map((item) => (
        <li class="my-1 lg:my-0">
          <a href={translatedPath(item.route)} class="">
            {item.title}
          </a>
        </li>
      ))
    }

    <li>
      <div class="flex gap-1">
        {
          paymentMethods.map((payMethod) => {
            const { img, method } = payMethod;
            return <img src={img} alt={method} class="w-12 object-contain" />;
          })
        }
      </div>
    </li>
  </ul>

  <div class="flex gap-5">
    <p>© <span class="font-bold">casasdasfigueiras.es</span></p>
    <p>Todos los derechos reservados</p>
  </div>

  <p class="pb-4">
    Desarrollo Web <a href="https://www.sitelicon.com" target="_blank"
      >Sitelicon Web Projects</a>
  </p>
</div>
