---
import { lastNews } from "../data/news.ts";
---

<div class="flex flex-col gap-4 sm:gap-12 w-full">
  <h3 class="uppercase text-2xl md:text-4xl text-center text-sky-700">
    <span class="font-bold">Últimas</span> Noticias
  </h3>

  <div
    class="container lg:max-w-7xl flex flex-col md:flex-row gap-7 items-start mx-auto"
  >
    <!-- Contenedor principal de Swiper -->
    <div class="my-4 w-full" id="swiperLastNews">
      <div class="swiper">
        <!-- Wrapper adicional requerido -->
        <div class="swiper-wrapper">
          <!-- Los slides -->
          {
            lastNews.map((news) => {
              return (
                <div class="swiper-slide flex flex-col sm:w-[24rem] px-5 sm:px-0 gap-4">
                  <a href={news.link} target="_blank">
                    <div class="flex1 flex-col1 gap-2">
                      <img src={news.img} alt={news.title} class="w-full" />

                      <h4 class="font-bold text-sky-700 text-lg">
                        {news.title}
                      </h4>
                    </div>
                    <div class="flex gap-1">
                      <a class="uppercase text-sm text-sky-600">Ver más</a>
                      <img src="/figueiras/bluelink.svg" alt="" class="w-3" />
                    </div>
                  </a>
                </div>
              );
            })
          }
        </div>
        <!-- Botones de navegación -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
</div>

<script>
  // Core de Swiper y estilos
  import Swiper from "swiper";
  import "swiper/css";
  // Módulo Navigation de Swiper y estilos
  import { Navigation } from "swiper/modules";
  import "swiper/css/navigation";

  // Configurar Swiper
  const swiper = new Swiper("#swiperLastNews .swiper", {
    modules: [Navigation], // definir los módulos a usar
    loop: true, // definir si los slides estarán en bucle
    slidesPerView: 1, // inicializa con 1 slide por vista
    spaceBetween: 40, // separación entre slides en px
    navigation: {
      // definir botones next y prev para el módulo Navigation
      prevEl: ".swiper-button-prev",
      nextEl: ".swiper-button-next",
    },
    breakpoints: {
      640: {
        slidesPerView: 1,
      },
      768: {
        slidesPerView: 2,
      },
      1024: {
        slidesPerView: 4,
      },
    },
  });
</script>

<style>
  .swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-button-next,
  .swiper-button-prev {
    background-color: #16b3e0;
    width: 60px;
    height: 60px;
    border-radius: 31px;
    color: #fff;
    font-size: 20px !important;
  }
  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: 20px;
  }
</style>
