---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="flex flex-col gap-12 justify-center items-center">
  <h3 class="uppercase text-2xl md:text-4xl text-center text-sky-700">
    {t("otros")}
    <span class="font-bold">{t("espana")}</span>
  </h3>

  <a href="#"><img src="/casadenia.png" alt="" /></a>
</div>
