---

---

<div class="flex flex-col gap-12 justify-center items-center">
  <h3 class="uppercase text-2xl md:text-4xl text-center text-sky-700">
    Otros lugares con encanto en <span class="font-bold">España</span>
  </h3>

  <a href="#"><img src="/figueiras/casadenia.png" alt="" /></a>
</div>
