<div class="justify-center1 items-center1">
    <h3 class="my-5 text-xl text-sky-700 font-bold border-b-2 leading-8">
        Casa - Calendario disponibilidad
    </h3>

    <div class="w-full">
        <div id="smoobuCalendarIframe">
            <link
                rel="stylesheet"
                type="text/css"
                href="https://login.smoobu.com/css/singleCalendarWidgetIframe.css"
            />
            <iframe
                class="smallDevices mx-auto"
                height="540px"
                width="280px"
                src="https://login.smoobu.com/es/cockpit/widget/show-calendar-iframe/1441391/c9ff64ae37c55f37019fa9a8bafdb5ba285b4307dccd9ca8b4a321793304d85f"
            ></iframe>
            <iframe
                class="bigDevices mx-auto"
                height="500px"
                width="1000px"
                src="https://login.smoobu.com/es/cockpit/widget/show-calendar-iframe/1441391/c9ff64ae37c55f37019fa9a8bafdb5ba285b4307dccd9ca8b4a321793304d85f"
            ></iframe>
        </div>
    </div>
</div>
