<div>
  <h3
    class="my-5 md:mx-5 lg:mx-0 text-2xl text-center md:text-left text-sky-700 font-bold border-b-2 leading-8"
  >
    Casa - Calendario disponibilidad
  </h3>

  <div class="w-full">
    <div id="smoobuCalendarIframe">
      <link
        rel="stylesheet"
        type="text/css"
        href="https://login.smoobu.com/css/singleCalendarWidgetIframe.css"
      />
      <iframe
        class="smallDevices mx-auto"
        height="540px"
        width="280px"
        src="https://login.smoobu.com/es/cockpit/widget/show-calendar-iframe/1596016/a866b6630c96062d50400032446d3dcd39f2ecf97d73e2ced3482154adebd9dd"
      ></iframe>
      <iframe
        class="bigDevices mx-auto"
        height="450px"
        width="1000px"
        src="https://login.smoobu.com/es/cockpit/widget/show-calendar-iframe/1596016/a866b6630c96062d50400032446d3dcd39f2ecf97d73e2ced3482154adebd9dd"
      ></iframe>
    </div>
  </div>
</div>
