<h3 class="my-5 text-xl text-sky-700 font-bold border-b-2 leading-8">
    Caracteristicas
</h3>
<p>
    <span class="text-gray-400">Precio</span> 109 € / 199 € ( Precio por día )<br
    />

    <span class="text-gray-400">Habitaciones</span> 4<br />
    <span class="text-gray-400">Baños</span> 2<br />
    <span class="text-gray-400">Superficie construida</span>
    125 m²<br />
    <span class="text-gray-400">Cantidad de Personas</span> 6<br />
    <span class="text-gray-400">Superficie Patio</span> 20m²<br />
    <span class="text-gray-400">Wifi</span>
</p>
