---
const houses = [
  {
    id: 1,
    name: "jovellanos",
    logobooking: "/PremioCasaJovellanos.png",
    photos: [
      "/casas/jovellanos/1.webp",
      "/casas/jovellanos/2.webp",
      "/casas/jovellanos/3.webp",
      "/casas/jovellanos/4.webp",
      "/casas/jovellanos/5.webp",
      "/casas/jovellanos/6.webp",
      "/casas/jovellanos/7.webp",
      "/casas/jovellanos/8.webp",
      "/casas/jovellanos/9.webp",
      "/casas/jovellanos/10.webp",
      "/casas/jovellanos/11.webp",
      "/casas/jovellanos/12.webp",
      "/casas/jovellanos/13.webp",
      "/casas/jovellanos/14.webp",
      "/casas/jovellanos/15.webp",
      "/casas/jovellanos/16.webp",
      "/casas/jovellanos/17.webp",
      "/casas/jovellanos/18.webp",
      "/casas/jovellanos/19.webp",
      "/casas/jovellanos/20.webp",
      "/casas/jovellanos/21.webp",
      "/casas/jovellanos/22.webp",
      "/casas/jovellanos/23.webp",
      "/casas/jovellanos/24.webp",
      "/casas/jovellanos/25.webp",
      "/casas/jovellanos/26.webp",
      "/casas/jovellanos/27.webp",
      "/casas/jovellanos/28.webp",
      "/casas/jovellanos/29.webp",
    ],
  },
  {
    id: 2,
    name: "alameda23",
    logobooking: "alameda23Digital-Award-TRA-2024.png",
    photos: [
      "/casas/alameda23/1.webp",
      "/casas/alameda23/2.webp",
      "/casas/alameda23/3.webp",
      "/casas/alameda23/4.webp",
      "/casas/alameda23/5.webp",
      "/casas/alameda23/6.webp",
      "/casas/alameda23/7.webp",
      "/casas/alameda23/8.webp",
      "/casas/alameda23/9.webp",
      "/casas/alameda23/10.webp",
      "/casas/alameda23/11.webp",
      "/casas/alameda23/12.webp",
      "/casas/alameda23/13.webp",
      "/casas/alameda23/14.webp",
      "/casas/alameda23/15.webp",
      "/casas/alameda23/16.webp",
      "/casas/alameda23/17.webp",
      "/casas/alameda23/18.webp",
      "/casas/alameda23/19.webp",
      "/casas/alameda23/20.webp",
      "/casas/alameda23/21.webp",
      "/casas/alameda23/22.webp",
      "/casas/alameda23/23.webp",
      "/casas/alameda23/24.webp",
      "/casas/alameda23/25.webp",
      "/casas/alameda23/26.webp",
    ],
  },
  {
    id: 3,
    name: "alameda33",
    logobooking: "Digital-Award-TRA-2024alameda33.png",
    photos: [
      "/casas/alameda33/IMG_7271.webp",
      "/casas/alameda33/IMG_72712.webp",
      "/casas/alameda33/1.webp",
      "/casas/alameda33/2.webp",
      "/casas/alameda33/3.webp",
      "/casas/alameda33/4.webp",
      "/casas/alameda33/5.webp",
      "/casas/alameda33/6.webp",
      "/casas/alameda33/7.webp",
      "/casas/alameda33/8.webp",
      "/casas/alameda33/9.webp",
      "/casas/alameda33/10.webp",
      "/casas/alameda33/11.webp",
      "/casas/alameda33/12.webp",
      "/casas/alameda33/13.webp",
      "/casas/alameda33/14.webp",
      "/casas/alameda33/15.webp",
      "/casas/alameda33/16.webp",
      "/casas/alameda33/17.webp",
      "/casas/alameda33/18.webp",
      "/casas/alameda33/19.webp",
      "/casas/alameda33/20.webp",
      "/casas/alameda33/21.webp",
      "/casas/alameda33/22.webp",
      "/casas/alameda33/23.webp",
      "/casas/alameda33/24.webp",
      "/casas/alameda33/25.webp",
      "/casas/alameda33/26.webp",
      "/casas/alameda33/27.webp",
      "/casas/alameda33/28.webp",
      "/casas/alameda33/29.webp",
    ],
  },
];
const { house } = Astro.params;
const selectedHouse = houses.find((h) => h.name === house);
---

<!-- Contenedor principal de Swiper -->
<div class="justify-center items-center mx-auto">
  <div class="my-4 w-full">
    <img
      src={selectedHouse.logobooking}
      class="absolute z-50 sm:w-48 w-24 hidden sm:block sm:mt-12 mt-2"
    />
    <div class="swiper w-screen lg:w-auto">
      <!-- Wrapper adicional requerido -->
      <div class="swiper-wrapper">
        <!-- Los slides -->
        {
          selectedHouse &&
            selectedHouse.photos.map((photo) => (
              <div class="swiper-slide">
                <img src={photo} alt="" class="w-full" />
              </div>
            ))
        }
      </div>
      <!-- Botones de navegación -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</div>

<script>
  // Core de Swiper y estilos
  import Swiper from "swiper";
  import "swiper/css";
  // Módulo Navigation de Swiper y estilos
  import { Navigation } from "swiper/modules";
  import "swiper/css/navigation";

  // Configurar Swiper
  const swiper = new Swiper(".swiper", {
    modules: [Navigation], // definir los módulos a usar
    loop: true, // definir si los slides estarán en bucle
    slidesPerView: 1, // agregar número de slides para la pantalla
    spaceBetween: 40, // separación entre slides en px
    navigation: {
      // definir botones next y prev para el módulo Navigation
      prevEl: ".swiper-button-prev",
      nextEl: ".swiper-button-next",
    },
  });
</script>

<style>
  .swiper-slide {
  }
  .swiper-slide img {
  }
  .swiper-button-next,
  .swiper-button-prev {
    background-color: #16b3e0;
    width: 60px;
    height: 60px;
    border-radius: 31px;
    color: #fff;
    font-size: 20px !important;
  }
  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: 20px;
  }
</style>
