<h3 class="my-5 text-xl text-sky-700 font-bold border-b-2 leading-8">
    ENCONTRANOS EN:
</h3>

<div class="flex">
    <a href="" target="_blank"
        ><img src="vrbo.webp" class="w-16 object-contain mr-4" alt="" />
    </a>
    <a href="" target="_blank"
        ><img src="airbnb.webp" class="w-16 object-contain mr-4" alt="" />
    </a>
    <a href="" target="_blank"
        ><img src="booking.webp" class="w-16 object-contain mr-4" alt="" />
    </a>
</div>
