---
import NavBar from '../components/NavBar.astro';

import { getLangFromUrl } from '../i18n/utils';

interface Props {
  title: string;
  meta: string;
}

const lang = getLangFromUrl(Astro.url);

const { title, meta } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={meta} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/figueiras/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <link href="/figueiras/fonts/fonts.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2NHBQ26PMH"
    ></script>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-221395340-1"></script>
    <script src="/figueiras/js/google.js" type="module"></script>
    <title>{title}</title>
  </head>

  <body
    class="sm:flex flex-col font-figueiras tracking-wide h-full w-full overflow-x-hidden items-center justify-center"
  >
    <NavBar />
    <slot />
  </body>
</html>
