---
import NavBar from "../components/NavBar.astro";

import { getLangFromUrl } from "../i18n/utils";

interface Props {
  title: string;
  meta: string;
}

const lang = getLangFromUrl(Astro.url);

const { title, meta } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={meta} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <link
      rel="alternate"
      href="https://www.casasdasfigueiras.es/"
      hreflang="es"
    />
    <link
      rel="alternate"
      href="https://www.casasdasfigueiras.es/en"
      hreflang="en"
    />
    <link
      rel="alternate"
      href="https://www.casasdasfigueiras.es/de"
      hreflang="de"
    />
    <link
      rel="alternate"
      href="https://www.casasdasfigueiras.es/"
      hreflang="x-default"
    />
    <meta name="generator" content={Astro.generator} />
    <link href="/fonts/fonts.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2NHBQ26PMH"
    ></script>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-221395340-1"></script>
    <script src="/js/google.js" type="module"></script>
    <script src="/js/meta.js" type="module"></script>

    <!-- Meta Pixel Code -->
    <noscript
      ><img
        height="1"
        width="1"
        style="display:none"
        src="https://www.facebook.com/tr?id=581992450826524&ev=PageView&noscript=1"
      /></noscript
    >
    <!-- End Meta Pixel Code -->
    <title>{title}</title>
  </head>

  <body
    class="flex-col font-figueiras tracking-wide h-full w-full overflow-x-hidden items-center justify-center"
  >
    <NavBar />
    <slot />

    <!-- Start of HubSpot Embed Code -->
    <script
      type="text/javascript"
      id="hs-script-loader"
      async
      defer
      src="//js-eu1.hs-scripts.com/27159505.js"></script>
    <!-- End of HubSpot Embed Code -->
  </body>
</html>
